<%- include("partials/header.ejs") %>
<body>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/img/book_dragon_icon.jpg" class="d-block mx-lg-auto img-fluid about_img" loading="lazy">
          </div>
          <div class="col-lg-6 about text">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Story about little bookworm</h1>
            <p class="lead">Once upon a time, in a quiet little village, there lived a girl. She had always been a bookworm, 
                with her nose buried in a book at every opportunity. She couldn't resist the allure of stories and the worlds they created. 
                From the time she could read, she devoured books like a ravenous reader. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form action="/recommendation" method="POST">
                    <input type="submit" value="find adventure" class = "btn-input">
                </form>
            </div>
          </div>
        </div>
      </div>
</body>
<%- include("partials/footer.ejs") %>