<%- include("partials/header.ejs") %>
<body>
    <div class = "main">
        <div class = "nav_bar">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/searchBooks"> Search </a></li>
                <li><a href="/recomendation"> Recomendation </a></li>
                <li><a href="/librarian"> Librarian </a></li>
                <li><a href="/moodBoards"> Mood Boards </a></li>
                <li><a href="/about"> About </a></li>
            </ul>
        </div>
        <div class = "text">   
            <h1>Hello, World</h1>
            <p>Being a bookworm is a wonderful way to embrace the pleasure of reading and immerse yourself in different worlds 
                and perspectives. It allows you to gain knowledge, expand your imagination, and develop a deeper appreciation for 
                storytelling. So, embrace your inner bookworm, indulge in your favorite genres, and discover the joy that reading can bring.</p>
        </div>
    </div>

</body>
<%- include("partials/footer.ejs") %>