<%- include("partials/header.ejs") %>
<body>
  <div class="container search">
    <div class="searchForm">
      <h1>Welcome to the Book Library</h1>
      <form action="/searchBook" method="GET">
        <input type="text" class="input text" name="genre" placeholder="Enter genre">
        <input type="text" class="input text" name="author" placeholder="Enter author">
        <input type="text" class="input text" name="title" placeholder="Enter title">
        <input type="submit" value="Search" class="btn-input small">
      </form>
    </div>
    <div>
      <a href="/books" class="LinkAllBooks">View All Books</a>
    </div>
  </div>
</body>
<%- include("partials/footer.ejs") %>
